<% if (isAdmin) {%>
<%- include('../includes/head.ejs') %>


<body class="d-flex flex-column min-vh-100">

<%- include('../includes/navigation.ejs') %>

<div class="container d-flex justify-content-center align-items-center main-content">
    <div class="row h-100 justify-content-center text-center">
        <div class="index-header">
            <!--                <h2>ุฎุฏูุงุช ุฏุงูุดฺฏุงู</h2>-->
        </div>
        <!-- ุณูุงุฑุด ุบุฐุง -->
        <div class="col-md-4 mb-4 d-flex">
            <div class="card box-shadow border-0 service-card h-100 w-100">
                <div class="card-body">
                    <h4 class="card-title text-primary mb-3">๐ฝ ูุฑุงุด ุดูุฑ ู ุฏุงูุดฺฏุงู ูุง</h4>
                    <p class="card-text">
                            ุดูุฑ ูุง ู ุฏุงูุดฺฏุงู ูุง ููุฑุฏ ุชุงุฏ ูุง ุฑุง ุฏุฑ ุงู ุจุฎุด ุชุนู ฺฉูุฏ.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 d-flex" onclick="window.location.href='/admin/add-provider'">
            <div class="card box-shadow border-0 service-card h-100 w-100">
                <div class="card-body">
                    <h4 class="card-title text-primary mb-3">๐งผ ุงูุฒูุฏู ุฎุฏูุงุช ุฏููุฏฺฏุงู</h4>
                    <p class="card-text">
                                    ุงู ูุณูุช ุจุฑุง ุชุงุฏ ูุดุงุบู ู ุง ุฑุฏ ุตูุงุญุช ุขูุงู ุงุณุช
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 d-flex" onclick="window.location.href='/admin/see-users'">
            <div class="card box-shadow border-0 service-card h-100 w-100">
                <div class="card-body">
                    <h4 class="card-title text-primary mb-3">โ๏ธ ูุฑุงุด ฺฉุงุฑุจุฑุงู</h4>
                    <p class="card-text">
                            ุดูุง ุฏุฑ ุงู ุจุฎุด ูุชูุงูุฏ ฺฉุงุฑุจุฑุงู ุซุจุช ูุงู ุดุฏู ุฑุง ูุดุงูุฏู ฺฉุฑุฏู ุ ู ูุถุนุช ุขูุงู ุฑุง ุชุบุฑ ุฏูุฏ.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
<% } else { %>
    <h2>ููุท ุงุฏูู ูุง ุจู ุงู ุจุฎุด ุฏุณุชุฑุณ ุฏุงุฑูุฏ ุจุฒูุฏ ุจู ุตูุญู ุงุตู ููุชูู ูุดูุฏ</h2>

    <script>
        setTimeout(()=>{
            window.location.replace('/')
        },4000)
    </script>
<% }%>