

<script src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            time: false,
            persianDigits: true
        });
    });
</script>

<script src="./js/main.js"></script>
</body>

</html>