<%- include('./includes/head.ejs') %>


<body class="d-flex flex-column min-vh-100">

<%- include('./includes/navigation.ejs') %>

<%if (isAdmin) { %>
    <span class="d-flex justify-content-center aling-items-center">
        <a href="/admin">ูุฑูุฏ ุจู ูพูู ุงุฏูู</a>
    </span>

<% } %>

<% if (isprovider) { %>
    <span class="d-flex justify-content-center aling-items-center">
        <a href="/owner/orders">ูพูู ุฎุฏูุงุช ุดูุง</a>
    </span>

        <%} %>

<% if (isLoggedIn) { %>
    <div class="container d-flex justify-content-center align-items-center main-content">
        <div class="row h-100 justify-content-center text-center">
            <div class="index-header">
<!--                <h2>ุฎุฏูุงุช ุฏุงูุดฺฏุงู</h2>-->
            </div>
            <!-- ุณูุงุฑุด ุบุฐุง -->
            <div class="col-md-4 mb-4 d-flex">
                <div class="card box-shadow border-0 service-card h-100 w-100">
                    <div class="card-body">
                        <h4 class="card-title text-primary mb-3">๐ฝ ุณูุงุฑุด ุบุฐุง</h4>
                        <p class="card-text">
                            ุงูฺฉุงู ุณูุงุฑุด ุงููุงุน ุบุฐุงูุง ุฎุงูฺฏ ู ุฑุณุชูุฑุงู ุจุง ุงุฑุณุงู ุณุฑุน.
                        </p>
                        <p>Coming soon!!!</p>

                    </div>
                </div>
            </div>

            <!-- ุฎุดฺฉุดู -->
            <div class="col-md-4 mb-4 d-flex" onclick="window.location.href='/laundry'">
                <div class="card box-shadow border-0 service-card h-100 w-100">
                    <div class="card-body">
                        <h4 class="card-title text-primary mb-3">๐งผ ุณูุงุฑุด ุฎุดฺฉุดู</h4>
                        <p class="card-text">
                            ุชุญูู ูุจุงุณโูุง ุดุณุชู ู ุงุชูุดุฏู ุจุง ฺฉูุชุฑู ุฒูุงู ู ุจูุชุฑู ฺฉูุช.
                        </p>
                    </div>
                </div>
            </div>

            <!-- ููุงุฒูโุงูุชุญุฑุฑ -->
            <div class="col-md-4 mb-4 d-flex">
                <div class="card box-shadow border-0 service-card h-100 w-100">
                    <div class="card-body">
                        <h4 class="card-title text-primary mb-3">โ๏ธ ููุงุฒูโุงูุชุญุฑุฑ</h4>
                        <p class="card-text">
                            ุฎุฑุฏ ุงููุงุน ููุงุฒูโุงูุชุญุฑุฑ ูุฏุฑุณู ู ุฏูุชุฑ ฺฉุงุฑ ุจุง ููุช ููุงุณุจ.
                        </p>
                        <p>Coming soon!!!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
<% } else { %>
<div class="d-flex justify-content-center align-items-center h-100">
    <a href="/login">
        <h2>ุจุฑุง ุฏุณุชุฑุณ ุจู ุฎุฏูุงุช ุณุงุช ูุงฺฏู ฺฉูุฏ</h2>
    </a>
</div>
<% } %>

<%- include('./includes/footer.ejs') %>


<%- include('./includes/end.ejs') %>