body {
    margin: 0;
    padding: 0;
    font-family: "IRANSans", sans-serif;
    background: #f3f8ff; /* آبی بسیار روشن */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}