/* صفحه کامل */


/* کانتینر فرم */
.login-container {
    background: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 71, 255, 0.1);
    border: 1px solid #e2e8ff;
}

/* عنوان */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #23427e;
}

/* لیبل‌ها */
label {
    font-size: 14px;
    color: #23427e;
    font-weight: bold;
}

/* اینپوت‌ها */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #aac4ff;
    background: #f7faff;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #467bff;
    box-shadow: 0 0 5px rgba(70, 123, 255, 0.4);
}

/* دکمه */
button {
    width: 100%;
    background: #467bff;
    border: none;
    padding: 12px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #2f5dde;
}

/* پیام خطا */
p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
